$colores: white;

.footer {
    background-color: green;
    h3{
        color: $colores;
    }
    h1{
        color: $colores;
    }
    h4{
        color: $colores;
    }
    p{
        color: $colores;
    }
}