* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aquamarine;
}

.container {
    display: flex;
    justify-content:flex-end ;
    align-items: end;
    height: 100vh;
}

.cuadrado1 {
    width: 100px;
    height: 100px;
    background-color: red;
}

.cuadrado2 {
    width: 100px;
    height: 100px;
    background-color: blue;
}

.cuadrado3 {
    width: 100px;
    height: 100px;
    background-color: green;
}